<h1>The Sky Events EJS Application</h1>
<% if (user) { %>
   <p>User <%= user.name %> is logged on.</p>
   <form method="POST" action="/sessions/logoff">
     <!--include CSRF-->
     <input type="hidden" name="_csrf" value="<%= _csrf %>">
   <button>Logoff</button>
   </form>
   <a href="/data">
      <button type="button">To sky events</button>
    </a>
<% } %>
<% if (errors) {
    errors.forEach((err) => { %>
      <div style="color:red">
        Error: <%= err %>
      </div>
    <% })
  } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div style="color:green">
        Info: <%= msg %>
      </div>
    <% })
  } %>
<hr />
